{% extends "admin/base.html" %}

{% load static %}

{% block title %}
  {% if subtitle %}{{ subtitle }} |{% endif %}
  {{ title }} | {{ site_title|default:_("Django site admin") }}
{% endblock title %}
{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_("Django administration") }}</a>
  </div>
  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
{% endblock branding %}
{% block nav-global %}
{% endblock nav-global %}
{% block extrastyle %}
  {{ block.super }}
  {% if IS_LOCAL %}
    <style>
      #header {
        background-color: #0d3b66;
        background-image: url("{% static 'images/blueprint-bg-dark.svg' %}");
        background-repeat: repeat;
        background-size: 120px 120px;
      }

      #header,
      #branding h1,
      #branding h1 a:link,
      #branding h1 a:visited,
      #user-tools,
      #user-tools a:link,
      #user-tools a:visited {
        color: #faf6ee;
      }

      #branding h1::before {
        content: "[LOCAL] ";
      }
    </style>
  {% endif %}
{% endblock extrastyle %}
{% block extrahead %}
  {{ block.super }}
  {% if IS_LOCAL %}
    <link rel="icon"
          href="{% static 'images/favicons/local-favicon-32x32.png' %}"
          type="image/png" />
    <link rel="icon"
          href="{% static 'images/favicons/local-litroute.svg' %}"
          type="image/svg+xml" />
    <link rel="apple-touch-icon"
          href="{% static 'images/favicons/local-apple-touch-icon.png' %}" />
  {% else %}
    <link rel="icon"
          href="{% static 'images/favicons/favicon-32x32.png' %}"
          type="image/png" />
    <link rel="icon"
          href="{% static 'images/favicons/litroute.svg' %}"
          type="image/svg+xml" />
    <link rel="apple-touch-icon"
          href="{% static 'images/favicons/apple-touch-icon.png' %}" />
  {% endif %}
{% endblock extrahead %}
